.enter {
  opacity: 0;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.leave {
  opacity: 1;
}

.leave.leaveActive {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}
.appear {
  opacity: 0.01;
}

.appear.appearActive {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.admin {
  text-align: center;
}

.form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.card {
  max-width: 345px;
  margin: 100px auto;
}

.header {
  font-family: roboto;
}

.input {
  margin: 0 auto;
}

.button {
  margin: 20px;
  margin-bottom: 20px;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
